.academic {
    background-color: $offWhite;
    height: 94%;
    width: 95%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    header {
        display: flex;
        padding: 15px 0 25px 0;
        nav {
            margin-left: 2%;
            a {
                text-decoration: none;
            }
        }
        div {
            padding-left: 80%;
            text-align: right;
        }
    }
    .blueDivider {
        width: 70%;
        margin-left: 25%;
    }
    .mainSection {
        width: 75%;
        .cset {
            padding: 3% 0 5% 2%;
            h3 {
                @extend .mont12B;
                color: $seaBlue;
            }
            p {
                @extend .mont15;
                color: $slateGrey;
                width: 100%;
            }
        }
        .csetStatus {
            display: flex;
            line-height: 1.5;
            padding: 0 0 5% 2%;
            .current {
                width: 33.3%;
            }
            .hours {
                width: 33.3%;
            }
            .standing {
                width: 33.3%;
            }
            h3 {
                @extend .mont12B;
                color: $ashPurp;
            }
            p {
                @extend .mont15;
                color: $slateGrey;
            }
        }
    }
}