//side comments are to refrence zeplin model
$offWhite: #f7f7f7; //used in the fixed section left/alt course/alert
$seaBlue: #48a2ba; //used for announcement headings
$greyBlue: #6291a9; //used for the dividing bars
$darkBlue: #1b3c50; //used for fixed left section/date/nav
$trickBlue: #59aac0; //used for the dates, looks similar to seaBlue
$ashPurp: #2e0a3a; //used for current/enrolled headings
$slateGrey: #202020; //used for subheading. ex: industry panel
$grey: #373737; //used for paragraphs
$offBlue: #59aac0; //used for upcomping dates & times
$logOut: #52a5af; //used for the logout button under date
$tutor: #33c7ba; //used for tutoring email link
$intern: #39c8bc; //used for internship email link
$purp: #2fcfba; //used for the view as: calendar buttons
$active: #0b2535; //used for the active nav state/active page
$semester: #5bd8c8; //used for the semester portion before 2018 year
$year: #4da4bc; //spring 2018 text color