//The code below is a modified snippet of flex box found on codepen.io
//A link to it is here https://codepen.io/sambible/pen/eZxQyP?editors=1100
// The code below will be modified
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 0 0;
}
.flex {
    padding: 15px;
    margin: 0 0 15px 15px;
}
.grid-33 {
    width: calc(33.3333% - 15px);
}
.grid-50 {
    width: calc(50% - 15px);
}
.grid-66 {
    width: calc(66.6666% - 15px);
}
.grid-100 {
    width: calc(100% - 15px);
}