.grades {
    background-color: $offWhite;
    height: 94%;
    width: 95%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    header {
        display: flex;
        padding: 15px 0 25px 0;
        nav {
            margin-left: 2%;
            a {
                text-decoration: none;
            }
        }
        div {
            padding-left: 80%;
            text-align: right;
        }
    }
    .blueDivider {
        width: 70%;
        margin-left: 25%;
    }
    .mainSection {
        width: 75%;
        .cset {
            padding: 3% 0 5% 2%;
            h3 {
                @extend .mont12B;
                color: $seaBlue;
            }
            p {
                @extend .mont15;
                color: $slateGrey;
                width: 100%;
            }
        }
        .csetStatus {
            display: flex;
            line-height: 1.5;
            padding: 0 0 5% 2%;
            .current {
                width: 33.3%;
            }
            .hours {
                width: 33.3%;
            }
            .standing {
                width: 33.3%;
            }
            h3 {
                @extend .mont12B;
                color: $ashPurp;
            }
            p {
                @extend .mont15;
                color: $slateGrey;
            }
        }
    }
    .gradeScroll {
        overflow-y: visible;
        overflow-x: hidden;
        height: 65%;
        width: 76%;
        .enrolled {
            display: flex;
            justify-content: space-between;
            padding: 2% 0 0 1.5%;
            h2 {
                @extend .mont12B;
                color: $seaBlue;
                line-height: 1.75;
            }
            h3 {
                @extend .mont12B;
                color: $ashPurp;
                line-height: 1.75;
            }
            p {
                @extend .mont15;
                color: $slateGrey;
                line-height: 1.75;
            }
            .whiteBox {
                background-color: #ffffff;
                height: 70px;
                width: 114px;
                margin-right: 10%;
                h4 {
                    @extend .mont10B;
                    color: #4ca2b9;
                    text-align: center;
                    padding: 10% 0 5% 0;
                }
                h5 {
                    @extend .mont30B;
                    color: $tutor;
                    text-align: center;
                }
            }
        }
        .flex {
            display: flex;
            .lgWhiteBox {
                display: flex;
                justify-content: space-around;
                background-color: #ffffff;
                padding: 2%;
                margin: 2% 0 5% 0;
                width: 50%;
                .outterCircle {
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    background: linear-gradient(90deg, lightgrey, lightgrey 60%, $tutor 60%, $tutor 40%);
                    border-image-slice: 1;
                    text-align: center;
                    .innerCircle {
                        background-color: #ffffff;
                        border-radius: 50%;
                        height: 47%;
                        width: 45%;
                        line-height: 1.5;
                        padding: 20%;
                        position: relative;
                        top: 7%;
                        left: 8%;
                        h2 {
                            color: $seaBlue;
                            @extend .mont30L;
                        }
                        p {
                            color: #4a4a4a;
                            @extend .mont12L;
                        }
                    }
                }
                .startFinish {
                    margin-top: 10%;
                    h2 {
                        color: $seaBlue;
                        @extend .mont10B;
                        padding-bottom: 5%;
                    }
                    p {
                        color: #4a4a4a;
                        @extend .mont12L;
                        padding-bottom: 8%;
                    }
                }
            }
            .recentGrades {
                margin: 8% 0 1% 5%;
                width: 40%;
                h2 {
                    color: #4ca2b9;
                    @extend .mont10B;
                    padding-bottom: 4%;
                }
                ul {
                    column-count: 2;
                    column-gap: 40px;
                    li {
                        color: $tutor;
                        @extend .mont12L;
                        padding-bottom: 6%;
                    }
                }
            }
        }
    }
    .gradeScroll::-webkit-scrollbar-track {
        background-color: white;
    }
    .gradeScroll::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }
    .gradeScroll::-webkit-scrollbar-thumb {
        background-color: #38bfba;
    }
}

header{
  .headerContent{
    position: absolute;
    margin-top: 0.9%;
  }
}
