.mainContain{
  background-color: $offWhite;
  height: 94%;
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
}
.listView {
  h3 {
    color: $seaBlue;
  }
  h4 {
    @extend .mont12B;
    }
    p {
      @extend .mont15;
    }
  }
  .calendarView {
    h5 {
      @extend .mont10R;
    }
    p {
      @extend .mont8;
    }
    .calendarCourse {
      @extend .mont10R;
    }
  }
.hide {
  display: none;
}
