.mainContain{
  background-image: linear-gradient(126deg, #2fcfba, #47a1ba);
  height: 90%;
  width: 98%;
  margin:2% 2% 2% 2%;
}
.schedule {
  .blueDivider {
    margin: 1% 0 2% 24%;

  }
  .mainSection {
    padding: 2%;
  }
  .programStanding {

  }
  .currentProgram {
    line-height: 1.5;
    margin-bottom: 5%;
    h3 {
      @extend .mont12B;
      color:$seaBlue;
    }
  }
  .studentInfo {
    display: inline-flex;
    div {
      padding-right: 60px;
    }
    h3 {
      @extend .mont12B;
      color: $ashPurp;
    }
    p {
      @extend .mont15;
    }
  }
}
.listView {
  margin-left: 26%;
  h3 {
    color: $seaBlue;
    margin-bottom: 2%;
  }
  h4 {
    @extend .mont12B;
    line-height: 2;
  }
  p {
    @extend .mont15;
    margin-bottom: 2%;
  }
}
.calendarView {
  h3 {
    @extend .mont12B;
    color: $seaBlue;
    margin-bottom: 2%;
  }
  h5 {
    @extend .mont10R;
    text-align: center;
  }
  p {
    @extend .mont8;
    text-align: center;
  }
  .calendarCourse {
    @extend .mont10R;
  }
  .calFlex {
    display: flex;
    height: 400px;
  }
  .calDay {
    width: 18%;
    margin-right: 1%;
    margin-bottom: -2%;
    background-color: rgba(47, 207, 186, 0.15);
    div {
      background-color: $darkBlue;
      color: $offWhite;
    }
    h5 {
      margin: 15px;
    }
    .classOne {
      height: 15%;
      margin-bottom: 70%;
      p {
        padding: 5%;
      }
    }
    .classOneW {
      height: 15%;
      margin-bottom: 82%;
      p {
        padding: 5%;
      }
    }
    .classOneF{
      background-color: rgba(213, 251, 246, 0.15);
      height: 15%;
      margin-bottom: 70%;
    }
    .classTwo {
      height: 40%;
      p {
        padding-top: 30%;
        line-height: 2;
      }
      .calendarCourse {
        padding-top: 0;
      }
    }
    .classTwoW {
      height: 35%;
      p {
        padding-top: 20%;
      }
      .calendarCourse {
        padding: 5%;
      }
    }
    .classTwoF {
      height: 40%;
      p {
        padding-top: 30%;
        line-height: 2;
      }
      .calendarCourse {
        padding-top: 0;
      }
    }
  }
}
.hide {
  display: none;
}
.date {
  @extend .mont10B;
  margin-left: 90%;
  line-height: 2;
}
.logOut {
  @extend .mont10R;
  margin-left: 90%;
  line-height: 2;
  color: $seaBlue;
}
.viewAs {
  @extend .mont10B;
  display: flex;
  margin-left: 80%;
  h3 {
    margin-right: 5%;
  }
  span {
    margin: 0 5% 0 5%;
  }

}
