.settings {
    background-color: $offWhite;
    height: 94%;
    width: 95%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
  }

.bigSection{
  .nameBox{
    width: 368px;
    height: 37.9px;
    font-family: 'Montserrat';
    font-size: 15px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #202020;
    h3{
      font-size: 12px;
      font-weight: bold;
      color: #48a2ba;
    }
  }
  .firstSection{
    width: 241px;
    height: 66.9px;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    text-align: left;
    color: #202020;
    h3{
      font-size: 12px;
      font-weight: bold;
      line-height: 1.75;
      color: #2e0a3a;
    }
    .editOne{
      width: 36px;
      height: 21px;
      font-family: 'Montserrat';
      font-size: 12px;
      font-weight: bold;
      line-height: 1.75;
      letter-spacing: 0.2px;
      text-align: left;
      color: #2e0a3a;
    }
    .cellPhone{
      width: 241px;
      height: 45.9px;
      font-family: 'Montserrat';
      font-size: 15px;
      line-height: 1.4;
      letter-spacing: 0.2px;
      text-align: left;
      color: #202020;
    }
    .phoneNumber{
      font-size: 12px;
      font-weight: bold;
      line-height: 1.75;
      color: #2e0a3a;
    }
    .editTwo{
      width: 36px;
      height: 21px;
      font-family: 'Montserrat';
      font-size: 12px;
      font-weight: bold;
      line-height: 1.75;
      letter-spacing: 0.2px;
      text-align: left;
      color: #2e0a3a;
    }
    .collegeEmail{
      font-size: 12px;
      font-weight: bold;
      line-height: 1.75;
      color: #2e0a3a;
    }
    .schmidttEmail{
      width: 241px;
      height: 45.9px;
      font-family: 'Montserrat';
      font-size: 15px;
      line-height: 1.4;
      letter-spacing: 0.2px;
      text-align: left;
      color: #202020;
    }
  }
  .secondSection{
    .schoolAddress{
      width: 231px;
      height: 95.7px;
      font-family: 'Montserrat';
      font-size: 15px;
      line-height: 1.4;
      letter-spacing: 0.2px;
      text-align: left;
      color: #202020;
      h3{
      font-size: 12px;
      font-weight: bold;
      line-height: 1.75;
      color: #2e0a3a;
      }
    }
    .editThree{
      width: 36px;
      height: 21px;
      font-family: 'Montserrat';
      font-size: 12px;
      font-weight: bold;
      line-height: 1.75;
      letter-spacing: 0.2px;
      text-align: left;
      color: #2e0a3a;
    }
    .altPhone{
      width: 241px;
      height: 45.9px;
      font-family: 'Montserrat';
      font-size: 12px;
      font-weight: bold;
      line-height: 1.75;
      letter-spacing: 0.2px;
      text-align: left;
      color: #2e0a3a;
    }
    .altNumber{
      font-size: 15px;
      font-weight: normal;
      line-height: 1.4;
      color: #202020;
    }
    .editFour{
      width: 36px;
      height: 21px;
      font-family: 'Montserrat';
      font-size: 12px;
      font-weight: bold;
      line-height: 1.75;
      letter-spacing: 0.2px;
      text-align: left;
      color: #2e0a3a;
    }
    .altEmail{
      width: 241px;
      height: 45.9px;
      font-family: 'Montserrat';
      font-size: 15px;
      line-height: 1.4;
      letter-spacing: 0.2px;
      text-align: left;
      color: #202020;
    }
    .henriGmail{
      font-size: 12px;
      font-weight: bold;
      line-height: 1.75;
      color: #2e0a3a;
    }
    .editFive{
      width: 36px;
      height: 21px;
      font-family: 'Montserrat';
      font-size: 12px;
      font-weight: bold;
      line-height: 1.75;
      letter-spacing: 0.2px;
      text-align: left;
      color: #2e0a3a;
    }
  }
    .saveBox{
      width: 130px;
      height: 48px;
      background-color: #3bb9ba;
      .save{
      width: 144.9px;
      height: 33px;
      font-family: 'Montserrat';
      font-size: 16px;
      letter-spacing: 0.2px;
      text-align: center;
      color: #f7f7f7;
    }
  }
}
