.blueDivider{
  background-color: $greyBlue;
  width: 80%;
  padding: 1px;
}
.infoNav {
   background-color: $darkBlue;
   color: $offWhite;
   display: inline-block;
   float: left;
   height: 600px;
   margin-right: 1%;
}
.currentSchedule {
  display: inline-block;
}
