.robo13 {
  font-family: 'Roboto Slab', serif;
  font-weight: regular;
  font-size: 13px;
  letter-spacing: 0.2px; }

.mont8, .calendarView p {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 8px;
  letter-spacing: 0.2px; }

.mont10R, .activePage, .notActive, .calendarView h5, .calendarView .calendarCourse, .logOut {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 10px;
  letter-spacing: 0.2px; }

.mont10B, .courses .viewAs h3, .courses .viewAs p, .date, .viewAs, .grades .gradeScroll .enrolled .whiteBox h4, .grades .gradeScroll .flex .lgWhiteBox .startFinish h2, .grades .gradeScroll .flex .recentGrades h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.2px; }

.mont11 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.2px; }

.mont12L, .grades .gradeScroll .flex .lgWhiteBox .outterCircle .innerCircle p, .grades .gradeScroll .flex .lgWhiteBox .startFinish p, .grades .gradeScroll .flex .recentGrades ul li {
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  font-size: 12px;
  letter-spacing: 0.2px; }

.mont12B, .home .mainSection .cset h3, .home .mainSection .csetStatus h3, .home .scrolling h3, .home .scrolling h4, .home .scrolling h5, .courses .currentProgram h3, .courses .studentInfo h3, .courses .uc, .courses .courseBox h2, .courses .registration .majorsOne form, .courses .registration .cset160 form, .courses .registration .cset180 form, .courses .registration .help div, .courses .registration .help button, .courses .cisSelection .entry, .schedule .currentProgram h3, .schedule .studentInfo h3, .listView h4, .calendarView h3, .grades .mainSection .cset h3, .grades .mainSection .csetStatus h3, .grades .gradeScroll .enrolled h2, .grades .gradeScroll .enrolled h3, .academic .mainSection .cset h3, .academic .mainSection .csetStatus h3, .academic .flexed .flex1 .academicGlance, .academic .flexed .flex1 .miniBox h2, .academic .flexed .flex1 .miniBox .outterCircle .innerCircle p, .academic .flexed .flex2 h2, .academic .flexed .flex2 h3, .academic .flexed .flex2 h4, .academic .flexed .flex2 h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.2px; }

.mont13 {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 13px;
  letter-spacing: 0.2px; }

.mont14R, .courses .registration .core, .courses .courseSelection .genEd, .courses .cisSelection .genEd, .courses .engSelection .genEd {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 14px;
  letter-spacing: 0.2px; }

.mont14B, .courses .registration .course h2, .courses .registration .course h3, .courses .courseSelection .course h2, .courses .courseSelection .course h3, .courses .cisSelection .course h2, .courses .cisSelection .course h3, .courses .engSelection .course h2, .courses .engSelection .course h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px; }

.mont15, .home .mainSection .cset p, .home .mainSection .csetStatus p, .courses .studentInfo p, .courses .courseBox h3, .courses .registration .majorsOne h2, .courses .registration .cset160 h2, .courses .registration .cset180 h2, .courses .courseSelection .genEdNames .cis h2, .courses .courseSelection .genEdNames .english h2, .courses .courseSelection .genEdNames .history h2, .courses .courseSelection .genEdNames .math h2, .courses .courseSelection .genEdNames .pe h2, .courses .courseSelection .genEdNames .science h2, .courses .courseSelection .genEdNames .ss h2, .courses .courseSelection .genEdNames .cis p, .courses .courseSelection .genEdNames .english p, .courses .courseSelection .genEdNames .history p, .courses .courseSelection .genEdNames .math p, .courses .courseSelection .genEdNames .pe p, .courses .courseSelection .genEdNames .science p, .courses .courseSelection .genEdNames .ss p, .courses .cisSelection .cis, .courses .cisSelection .courseSelection .genEdNames .english, .courses .courseSelection .genEdNames .cisSelection .english, .courses .cisSelection .courseSelection .genEdNames .history, .courses .courseSelection .genEdNames .cisSelection .history, .courses .cisSelection .courseSelection .genEdNames .math, .courses .courseSelection .genEdNames .cisSelection .math, .courses .cisSelection .courseSelection .genEdNames .pe, .courses .courseSelection .genEdNames .cisSelection .pe, .courses .cisSelection .courseSelection .genEdNames .science, .courses .courseSelection .genEdNames .cisSelection .science, .courses .cisSelection .courseSelection .genEdNames .ss, .courses .courseSelection .genEdNames .cisSelection .ss, .courses .cisSelection .entry h2, .courses .engSelection .eng, .schedule .studentInfo p, .listView p, .grades .mainSection .cset p, .grades .mainSection .csetStatus p, .grades .gradeScroll .enrolled p, .academic .mainSection .cset p, .academic .mainSection .csetStatus p, .academic .flexed .flex1 .miniBox p, .academic .flexed .flex2 p {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 15px;
  letter-spacing: 0.2px; }

.mont30L, .grades .gradeScroll .flex .lgWhiteBox .outterCircle .innerCircle h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  font-size: 30px;
  letter-spacing: 0.2px; }

.mont30B, .grades .gradeScroll .enrolled .whiteBox h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.2px; }

.mont40B, .academic .flexed .flex1 .miniBox .outterCircle .innerCircle h2 {
  font-family: 'Monserrat', sans-serif;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.3px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.index {
  background-image: linear-gradient(126deg, #2fcfba, #47a1ba); }
  .index .background {
    background-color: #f7f7f7;
    margin-left: 2%;
    width: 90%; }
    .index .background .whiteBackground {
      margin: 30px;
      padding: 20px;
      width: 100%;
      height: 720px;
      background-color: #f7f7f7; }
    .index .background .borderBar {
      width: 100%;
      height: 2px;
      background-color: #6291a9;
      margin-left: -1%;
      margin-top: 1%; }
    .index .background .loginWhiteBox {
      width: 80%;
      height: 370px;
      background-color: #ffffff;
      margin: 150px auto; }
    .index .background .thaddeusStevensText {
      width: 70%;
      height: 40px;
      font-family: Montserrat;
      font-size: 21px;
      font-weight: 600;
      letter-spacing: 0.2px;
      text-align: center;
      color: #202020;
      margin: 60px 0 0 0px;
      position: absolute; }
    .index .background .studentPortal {
      width: 70%;
      height: 69px;
      font-family: Montserrat;
      font-size: 21px;
      letter-spacing: 0.2px;
      text-align: center;
      color: #3bb9ba;
      margin: 110px 0 0 0;
      position: absolute; }
    .index .background .emailBox {
      width: 65%;
      height: 6%;
      background-color: #f7f7f7;
      border: solid 1px #3bb9ba;
      margin-top: 140px;
      margin-left: 3%;
      position: absolute; }
    .index .background .passwordBox {
      width: 65%;
      height: 6%;
      background-color: #f7f7f7;
      border: solid 1px #3bb9ba;
      margin-top: 200px;
      margin-left: 3%;
      position: absolute; }
    .index .background .submitButton {
      width: 15%;
      height: 48px;
      background-color: #3bb9ba;
      margin: 280px 0 0 150px;
      position: absolute; }
    .index .background div {
      margin-left: 20%; }
    .index .background .forgotPassword {
      width: 30%;
      height: 33px;
      font-family: Montserrat;
      font-size: 12px;
      letter-spacing: 0.2px;
      text-align: center;
      color: #3bb9ba;
      margin-top: 300px;
      margin-left: 20%;
      position: absolute; }
    .index .background .submitButton {
      width: 10%;
      margin-left: 10%; }
    .index .background form {
      width: 80%; }
    .index .background .forgotPasswordBox {
      width: 34%;
      height: 350px;
      background-color: #f7f7f7;
      border: solid 1px #979797;
      margin: -590px 0px 0px 450px;
      position: absolute; }
    .index .background .forgotPasswordBar {
      width: 100%;
      height: 8px;
      background-color: #4a4a4a;
      margin: 0 0 0 0px;
      position: absolute; }
    .index .background .forgotPasswordBlueBar {
      width: 33%;
      height: 8px;
      background-color: #3bb9ba;
      margin: 0 0 0 0;
      position: absolute; }
    .index .background .forgotPasswordText {
      width: 80%;
      height: 18px;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.2px;
      text-align: left;
      color: #33c7ba;
      margin: 50px 0 0 50px;
      position: absolute; }
    .index .background .forgotPasswordTextParagraph {
      width: 90%;
      height: 101px;
      font-family: Montserrat;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.2px;
      text-align: left;
      color: #202020;
      margin-top: 100px;
      margin-left: 50px;
      position: absolute; }
    .index .background .forgotPasswordAnswer {
      width: 60%;
      height: 48px;
      background-color: #ffffff;
      border: solid 1px black;
      margin-top: 200px;
      margin-left: 50px;
      position: absolute; }
    .index .background .forgotPasswordAnswerWrong {
      width: 350px;
      height: 48px;
      background-color: #ffffff;
      border: solid 1px #d0021b;
      margin-top: 200px;
      margin-left: 50px;
      position: absolute; }
    .index .background .forgotPasswordSubmit {
      width: 20%;
      height: 42px;
      background-color: #3bb9ba;
      color: white;
      margin-top: 280px;
      margin-left: 50px;
      position: absolute; }
    .index .background .incorrectAnswer {
      width: 180.2px;
      height: 18px;
      font-family: Montserrat;
      font-size: 14px;
      letter-spacing: 0.2px;
      text-align: left;
      color: #d0021b;
      margin-top: 290px;
      margin-left: 275px;
      position: absolute; }
    .index .background .forgotPasswordBlueBarSecond {
      width: 66%;
      height: 8px;
      background-color: #3bb9ba;
      margin: 0 0 0 0;
      position: absolute; }
    .index .background .forgotPasswordBlueBarThird {
      width: 100%;
      height: 8px;
      background-color: #3bb9ba;
      margin: 0 0 0 0;
      position: absolute; }
    .index .background .forgotPasswordBoxThird {
      width: 42.5%;
      height: 265px;
      background-color: #f7f7f7;
      border: solid 1px #979797;
      margin: -590px 0px 0px 450px;
      position: absolute; }
    .index .background .forgotPasswordSubmitFinal {
      width: 114px;
      height: 42px;
      background-color: #3bb9ba;
      margin-top: 180px;
      margin-left: 50px;
      position: absolute; }
    .index .background .resendEmail {
      width: 30%;
      height: 18px;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.2px;
      text-align: center;
      color: #3bb9ba;
      margin-top: 200px;
      margin-left: 275px;
      position: absolute; }
    .index .background .transparentBackground {
      width: 100%;
      height: 1000px;
      background-color: black;
      margin-top: -1000px;
      margin-left: -30px;
      position: absolute;
      opacity: .5; }

.blueDivider {
  background-color: #6291a9;
  width: 75%;
  padding: 1px;
  margin-left: 25%; }

.infoNav {
  background-color: #1b3c50;
  color: #f7f7f7;
  display: inline-block;
  float: left;
  height: 100%;
  margin-right: 1%;
  width: 23%; }
  .infoNav aside h1 {
    text-align: center;
    margin: 10% 2% 15% 0%; }
  .infoNav aside h2 {
    line-height: 3;
    text-align: left;
    margin-left: 10%; }
  .infoNav aside ul {
    text-align: center;
    line-height: 3;
    text-align: left;
    margin-left: 20%; }
    .infoNav aside ul li a {
      text-decoration: none;
      color: #f7f7f7; }

.mainSection {
  display: inline-block; }

.selfie {
  margin-left: 15%;
  margin-top: 20%;
  width: 150px;
  height: 150px;
  border-radius: 60%;
  border: solid 2px #50e3c2; }

.schedule {
  background-color: #f7f7f7;
  height: 94%;
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed; }

.activePage {
  color: #52a5af;
  text-decoration: none; }

.notActive {
  text-decoration: none;
  color: #1b3c50; }

.home {
  background-color: #f7f7f7;
  height: 94%;
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed; }
  .home header {
    display: flex;
    padding: 30px 0 30px 0; }
    .home header nav {
      margin-left: 2%; }
      .home header nav a {
        text-decoration: none; }
    .home header div {
      padding-left: 80%;
      text-align: right; }
  .home .blueDivider {
    margin-left: 25%;
    width: 70%;
    z-index: 1; }
  .home .mainSection .cset {
    margin-left: 2%;
    padding: 25px 0 25px 0;
    line-height: 1.5; }
    .home .mainSection .cset h3 {
      color: #48a2ba; }
    .home .mainSection .cset p {
      color: #202020; }
  .home .mainSection .csetStatus {
    display: block;
    line-height: 1.5; }
    .home .mainSection .csetStatus .current {
      display: inline-block;
      padding: 0 80px 30px 10px; }
    .home .mainSection .csetStatus .hours {
      display: inline-block;
      padding-right: 80px; }
    .home .mainSection .csetStatus .standing {
      display: inline-block; }
    .home .mainSection .csetStatus h3 {
      color: #2e0a3a; }
    .home .mainSection .csetStatus p {
      color: #202020; }
  .home .scrolling {
    overflow-y: visible;
    overflow-x: hidden;
    height: 430px; }
    .home .scrolling h3 {
      color: #48a2ba; }
    .home .scrolling h4 {
      color: #59aac0; }
    .home .scrolling h5 {
      color: #59aac0; }
    .home .scrolling .mont15, .home .scrolling .mainSection .cset p, .home .mainSection .cset .scrolling p, .home .scrolling .mainSection .csetStatus p, .home .mainSection .csetStatus .scrolling p, .home .scrolling .courses .studentInfo p, .courses .studentInfo .home .scrolling p, .home .scrolling .courses .courseBox h3, .courses .courseBox .home .scrolling h3, .home .scrolling .courses .registration .majorsOne h2, .courses .registration .majorsOne .home .scrolling h2, .home .scrolling .courses .registration .cset160 h2, .courses .registration .cset160 .home .scrolling h2, .home .scrolling .courses .registration .cset180 h2, .courses .registration .cset180 .home .scrolling h2, .home .scrolling .courses .courseSelection .genEdNames .cis h2, .courses .courseSelection .genEdNames .cis .home .scrolling h2, .home .scrolling .courses .courseSelection .genEdNames .english h2, .courses .courseSelection .genEdNames .english .home .scrolling h2, .home .scrolling .courses .courseSelection .genEdNames .history h2, .courses .courseSelection .genEdNames .history .home .scrolling h2, .home .scrolling .courses .courseSelection .genEdNames .math h2, .courses .courseSelection .genEdNames .math .home .scrolling h2, .home .scrolling .courses .courseSelection .genEdNames .pe h2, .courses .courseSelection .genEdNames .pe .home .scrolling h2, .home .scrolling .courses .courseSelection .genEdNames .science h2, .courses .courseSelection .genEdNames .science .home .scrolling h2, .home .scrolling .courses .courseSelection .genEdNames .ss h2, .courses .courseSelection .genEdNames .ss .home .scrolling h2, .home .scrolling .courses .courseSelection .genEdNames .cis p, .courses .courseSelection .genEdNames .cis .home .scrolling p, .home .scrolling .courses .courseSelection .genEdNames .english p, .courses .courseSelection .genEdNames .english .home .scrolling p, .home .scrolling .courses .courseSelection .genEdNames .history p, .courses .courseSelection .genEdNames .history .home .scrolling p, .home .scrolling .courses .courseSelection .genEdNames .math p, .courses .courseSelection .genEdNames .math .home .scrolling p, .home .scrolling .courses .courseSelection .genEdNames .pe p, .courses .courseSelection .genEdNames .pe .home .scrolling p, .home .scrolling .courses .courseSelection .genEdNames .science p, .courses .courseSelection .genEdNames .science .home .scrolling p, .home .scrolling .courses .courseSelection .genEdNames .ss p, .courses .courseSelection .genEdNames .ss .home .scrolling p, .home .scrolling .courses .cisSelection .cis, .courses .cisSelection .home .scrolling .cis, .home .scrolling .courses .cisSelection .courseSelection .genEdNames .english, .courses .cisSelection .courseSelection .genEdNames .home .scrolling .english, .home .scrolling .courses .courseSelection .genEdNames .cisSelection .english, .courses .courseSelection .genEdNames .cisSelection .home .scrolling .english, .home .scrolling .courses .cisSelection .courseSelection .genEdNames .history, .courses .cisSelection .courseSelection .genEdNames .home .scrolling .history, .home .scrolling .courses .courseSelection .genEdNames .cisSelection .history, .courses .courseSelection .genEdNames .cisSelection .home .scrolling .history, .home .scrolling .courses .cisSelection .courseSelection .genEdNames .math, .courses .cisSelection .courseSelection .genEdNames .home .scrolling .math, .home .scrolling .courses .courseSelection .genEdNames .cisSelection .math, .courses .courseSelection .genEdNames .cisSelection .home .scrolling .math, .home .scrolling .courses .cisSelection .courseSelection .genEdNames .pe, .courses .cisSelection .courseSelection .genEdNames .home .scrolling .pe, .home .scrolling .courses .courseSelection .genEdNames .cisSelection .pe, .courses .courseSelection .genEdNames .cisSelection .home .scrolling .pe, .home .scrolling .courses .cisSelection .courseSelection .genEdNames .science, .courses .cisSelection .courseSelection .genEdNames .home .scrolling .science, .home .scrolling .courses .courseSelection .genEdNames .cisSelection .science, .courses .courseSelection .genEdNames .cisSelection .home .scrolling .science, .home .scrolling .courses .cisSelection .courseSelection .genEdNames .ss, .courses .cisSelection .courseSelection .genEdNames .home .scrolling .ss, .home .scrolling .courses .courseSelection .genEdNames .cisSelection .ss, .courses .courseSelection .genEdNames .cisSelection .home .scrolling .ss, .home .scrolling .courses .cisSelection .entry h2, .courses .cisSelection .entry .home .scrolling h2, .home .scrolling .courses .engSelection .eng, .courses .engSelection .home .scrolling .eng, .home .scrolling .schedule .studentInfo p, .schedule .studentInfo .home .scrolling p, .home .scrolling .listView p, .listView .home .scrolling p, .grades .mainSection .cset .home .scrolling p, .grades .mainSection .csetStatus .home .scrolling p, .home .scrolling .grades .gradeScroll .enrolled p, .grades .gradeScroll .enrolled .home .scrolling p, .academic .mainSection .cset .home .scrolling p, .academic .mainSection .csetStatus .home .scrolling p, .home .scrolling .academic .flexed .flex1 .miniBox p, .academic .flexed .flex1 .miniBox .home .scrolling p, .home .scrolling .academic .flexed .flex2 p, .academic .flexed .flex2 .home .scrolling p {
      color: #202020; }
    .home .scrolling .robo13 {
      color: #373737;
      line-height: 1.5; }
    .home .scrolling .blueDivider {
      width: 93%;
      margin-left: 12px; }
    .home .scrolling .flex {
      display: flex;
      line-height: 1;
      padding: 0 0 3% 1%; }
      .home .scrolling .flex .leftFlex {
        width: 60%; }
      .home .scrolling .flex .rightFlex {
        width: 40%; }
      .home .scrolling .flex h3 {
        padding: 20px 0 20px 0; }
      .home .scrolling .flex h4 {
        padding-bottom: 3%; }
      .home .scrolling .flex h5 {
        padding: 3% 0 4% 0; }
      .home .scrolling .flex p {
        width: 90%;
        line-height: 1.5;
        padding-bottom: 1%; }
  .home .scrolling::-webkit-scrollbar-track {
    background-color: white; }
  .home .scrolling::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5; }
  .home .scrolling::-webkit-scrollbar-thumb {
    background-color: #38bfba; }

.courses {
  background-color: #f7f7f7;
  height: 94%;
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed; }
  .courses .blueDivider {
    margin: 1% 0 2% 24%; }
  .courses .mainSection {
    padding: 2%; }
  .courses .currentProgram {
    line-height: 1.5;
    margin-bottom: 5%; }
    .courses .currentProgram h3 {
      color: #48a2ba; }
  .courses .studentInfo {
    display: inline-flex; }
    .courses .studentInfo div {
      padding-right: 60px; }
    .courses .studentInfo h3 {
      color: #2e0a3a; }
  .courses .uc {
    color: #48a2ba;
    margin-left: 25%; }
  .courses .viewAs {
    margin: -1% 0 0 80%; }
    .courses .viewAs h3 {
      color: #4da4bc; }
    .courses .viewAs p {
      color: #5bd8c8; }
  .courses .courseBox {
    background-color: #ffffff;
    height: 35%;
    width: 70%;
    margin: 8% 0 0 2%;
    display: none;
    line-height: 1.5; }
    .courses .courseBox h2 {
      text-align: center;
      padding-top: 10%;
      color: #48a2ba; }
    .courses .courseBox h3 {
      text-align: center;
      color: #202020; }
    .courses .courseBox button {
      margin: 2% 0 0 40%;
      height: 20%;
      width: 20%;
      background-color: #37beba;
      color: #f7f7f7; }
  .courses .registration {
    background-color: #ffffff;
    height: 50%;
    width: 72%;
    margin: 3% 0 0 25%;
    display: none;
    flex-wrap: wrap; }
    .courses .registration .course {
      width: 100%;
      display: inherit;
      padding: 3% 0 0 4%; }
      .courses .registration .course h2 {
        color: #33c7ba;
        padding-right: 55%; }
      .courses .registration .course h3 {
        color: #33c7ba; }
    .courses .registration .bars {
      width: 95%;
      display: inherit;
      margin-top: -7%; }
      .courses .registration .bars .progressBar {
        background-color: #50e3c2;
        width: 50%;
        height: 6%;
        margin-left: 4%; }
      .courses .registration .bars .progressBar2 {
        background-color: #359ca1;
        width: 50%;
        height: 6%; }
    .courses .registration .core {
      width: 90%;
      margin: -10% 0 0 4%;
      color: #202020; }
    .courses .registration .majorsOne {
      width: 90%;
      display: flex;
      justify-content: space-around;
      margin-top: -10%; }
      .courses .registration .majorsOne form {
        margin-bottom: 4%;
        color: #48a2ba; }
      .courses .registration .majorsOne h2 {
        color: #202020; }
    .courses .registration .cset160 {
      width: 50%; }
      .courses .registration .cset160 form {
        margin: 0 0 4% 22%;
        color: #48a2ba; }
      .courses .registration .cset160 h2 {
        margin-left: 22%;
        color: #202020; }
    .courses .registration .cset180 {
      width: 50%; }
      .courses .registration .cset180 form {
        margin-bottom: 4%;
        color: #48a2ba; }
      .courses .registration .cset180 h2 {
        color: #202020; }
    .courses .registration .help {
      width: 100%;
      display: flex; }
      .courses .registration .help div {
        width: 80%;
        text-align: right;
        color: #50e3c2; }
        .courses .registration .help div h2 {
          margin: 4%; }
      .courses .registration .help button {
        height: 65%;
        width: 15%;
        color: #ffffff;
        background-color: #3bb9ba; }
  .courses .courseSelection {
    background-color: #ffffff;
    height: 55%;
    width: 72%;
    margin: 3% 0 0 25%;
    display: none;
    flex-wrap: wrap; }
    .courses .courseSelection .course {
      width: 100%;
      display: inherit;
      padding: 3% 0 0 4%; }
      .courses .courseSelection .course h2 {
        color: #33c7ba;
        padding-right: 55%; }
      .courses .courseSelection .course h3 {
        color: #33c7ba; }
    .courses .courseSelection .bars {
      width: 95%;
      display: inherit;
      margin-top: -8%; }
      .courses .courseSelection .bars .progressBar {
        background-color: #50e3c2;
        width: 50%;
        height: 3%;
        margin-left: 4%; }
      .courses .courseSelection .bars .progressBar2 {
        background-color: #359ca1;
        width: 50%;
        height: 3%; }
    .courses .courseSelection .genEd {
      margin: -12% 0 0 4%;
      color: #202020; }
    .courses .courseSelection .genEdNames {
      width: 80%;
      height: 50%;
      margin: -16% 0 0 8%; }
      .courses .courseSelection .genEdNames .cis, .courses .courseSelection .genEdNames .english, .courses .courseSelection .genEdNames .history, .courses .courseSelection .genEdNames .math, .courses .courseSelection .genEdNames .pe, .courses .courseSelection .genEdNames .science, .courses .courseSelection .genEdNames .ss {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #359ca1; }
        .courses .courseSelection .genEdNames .cis h2, .courses .courseSelection .genEdNames .english h2, .courses .courseSelection .genEdNames .history h2, .courses .courseSelection .genEdNames .math h2, .courses .courseSelection .genEdNames .pe h2, .courses .courseSelection .genEdNames .science h2, .courses .courseSelection .genEdNames .ss h2 {
          color: #44ccc0;
          margin: 2% 0 2% 0; }
        .courses .courseSelection .genEdNames .cis p, .courses .courseSelection .genEdNames .english p, .courses .courseSelection .genEdNames .history p, .courses .courseSelection .genEdNames .math p, .courses .courseSelection .genEdNames .pe p, .courses .courseSelection .genEdNames .science p, .courses .courseSelection .genEdNames .ss p {
          color: #44ccc0;
          margin-top: 2%; }
      .courses .courseSelection .genEdNames .ss {
        border-bottom: none; }
  .courses .cisSelection {
    background-color: #ffffff;
    height: 55%;
    width: 73%;
    margin: 3% 0 0 25%;
    display: none;
    flex-wrap: wrap; }
    .courses .cisSelection .course {
      width: 100%;
      height: 5%;
      display: inline-flex;
      flex-wrap: wrap; }
      .courses .cisSelection .course h2 {
        color: #33c7ba;
        width: 70%;
        padding: 20px 120px 0 20px; }
      .courses .cisSelection .course h3 {
        color: #33c7ba;
        width: 10%;
        padding-top: 20px; }
      .courses .cisSelection .course .progressBar {
        width: 45%;
        height: 5px;
        background-color: #50e3c2;
        margin: 15px 0 0 20px; }
      .courses .cisSelection .course .progressBar2 {
        width: 45%;
        height: 5px;
        background-color: #359ca1;
        margin-top: 15px; }
    .courses .cisSelection .genEd {
      width: 95%;
      color: #202020;
      margin: 6px 0 0 30px; }
    .courses .cisSelection .cis, .courses .cisSelection .courseSelection .genEdNames .english, .courses .courseSelection .genEdNames .cisSelection .english, .courses .cisSelection .courseSelection .genEdNames .history, .courses .courseSelection .genEdNames .cisSelection .history, .courses .cisSelection .courseSelection .genEdNames .math, .courses .courseSelection .genEdNames .cisSelection .math, .courses .cisSelection .courseSelection .genEdNames .pe, .courses .courseSelection .genEdNames .cisSelection .pe, .courses .cisSelection .courseSelection .genEdNames .science, .courses .courseSelection .genEdNames .cisSelection .science, .courses .cisSelection .courseSelection .genEdNames .ss, .courses .courseSelection .genEdNames .cisSelection .ss {
      width: 95%;
      margin: -20px 0 0 50px;
      color: #44ccc0; }
    .courses .cisSelection .thinLine {
      width: 575px;
      height: 2px;
      margin: -35px 0 0 45px;
      background-color: #359ca1; }
    .courses .cisSelection .entry {
      margin: -50px 0 0 90px;
      width: 90%;
      color: #48a2ba; }
      .courses .cisSelection .entry h2 {
        color: #202020;
        padding: 10px 0 10px 0; }
    .courses .cisSelection button {
      height: 42px;
      width: 114px;
      background-color: #3bb9ba;
      color: #ffffff;
      margin-left: 75%; }
  .courses .engSelection {
    background-color: #ffffff;
    height: 55%;
    width: 73%;
    margin: 3% 0 0 25%;
    display: flex;
    flex-wrap: wrap; }
    .courses .engSelection .course {
      width: 100%;
      height: 5%;
      display: flex;
      flex-wrap: wrap; }
      .courses .engSelection .course h2 {
        color: #33c7ba;
        width: 70%;
        padding: 20px 120px 0 20px; }
      .courses .engSelection .course h3 {
        color: #33c7ba;
        width: 10%;
        padding-top: 20px; }
      .courses .engSelection .course .progressBar {
        width: 45%;
        height: 5px;
        background-color: #50e3c2;
        margin: 15px 0 0 20px; }
      .courses .engSelection .course .progressBar2 {
        width: 45%;
        height: 5px;
        background-color: #359ca1;
        margin-top: 15px; }
    .courses .engSelection .genEd {
      width: 95%;
      color: #202020;
      margin: -30px 0 0 30px; }
    .courses .engSelection .eng {
      width: 95%;
      margin: -90px 0 0 50px;
      color: #44ccc0; }
    .courses .engSelection .thinLine {
      width: 575px;
      height: 2px;
      margin: -165px 0 0 45px;
      background-color: #359ca1; }

.mainContain {
  background-image: linear-gradient(126deg, #2fcfba, #47a1ba);
  height: 90%;
  width: 98%;
  margin: 2% 2% 2% 2%; }

.schedule .blueDivider {
  margin: 1% 0 2% 24%; }
.schedule .mainSection {
  padding: 2%; }
.schedule .currentProgram {
  line-height: 1.5;
  margin-bottom: 5%; }
  .schedule .currentProgram h3 {
    color: #48a2ba; }
.schedule .studentInfo {
  display: inline-flex; }
  .schedule .studentInfo div {
    padding-right: 60px; }
  .schedule .studentInfo h3 {
    color: #2e0a3a; }

.listView {
  margin-left: 26%; }
  .listView h3 {
    color: #48a2ba;
    margin-bottom: 2%; }
  .listView h4 {
    line-height: 2; }
  .listView p {
    margin-bottom: 2%; }

aside li:hover {
  background-color: #0b2535;
  cursor: pointer;
  width: 100%; }

.viewAs .listToggle:hover {
  cursor: pointer; }
.viewAs .calendarToggle:hover {
  cursor: pointer; }

.dateLogOut {
  margin-left: 90%; }

.listView:hover {
  cursor: pointer; }

.calendarView h3 {
  color: #48a2ba;
  margin-bottom: 2%; }
.calendarView h5 {
  text-align: center; }
.calendarView p {
  text-align: center; }
.calendarView .calFlex {
  display: flex;
  height: 400px; }
.calendarView .calDay {
  width: 18%;
  margin-right: 1%;
  margin-bottom: -2%;
  background-color: rgba(47, 207, 186, 0.15); }
  .calendarView .calDay div {
    background-color: #1b3c50;
    color: #f7f7f7; }
  .calendarView .calDay h5 {
    margin: 15px; }
  .calendarView .calDay .classOne {
    height: 15%;
    margin-bottom: 70%; }
    .calendarView .calDay .classOne p {
      padding: 5%; }
  .calendarView .calDay .classOneW {
    height: 15%;
    margin-bottom: 82%; }
    .calendarView .calDay .classOneW p {
      padding: 5%; }
  .calendarView .calDay .classOneF {
    background-color: rgba(213, 251, 246, 0.15);
    height: 15%;
    margin-bottom: 70%; }
  .calendarView .calDay .classTwo {
    height: 40%; }
    .calendarView .calDay .classTwo p {
      padding-top: 30%;
      line-height: 2; }
    .calendarView .calDay .classTwo .calendarCourse {
      padding-top: 0; }
  .calendarView .calDay .classTwoW {
    height: 35%; }
    .calendarView .calDay .classTwoW p {
      padding-top: 20%; }
    .calendarView .calDay .classTwoW .calendarCourse {
      padding: 5%; }
  .calendarView .calDay .classTwoF {
    height: 40%; }
    .calendarView .calDay .classTwoF p {
      padding-top: 30%;
      line-height: 2; }
    .calendarView .calDay .classTwoF .calendarCourse {
      padding-top: 0; }

.hide {
  display: none; }

.date {
  margin-left: 90%;
  line-height: 2; }

.logOut {
  margin-left: 90%;
  line-height: 2;
  color: #48a2ba; }

.viewAs {
  display: flex;
  margin-left: 80%; }
  .viewAs h3 {
    margin-right: 5%; }
  .viewAs span {
    margin: 0 5% 0 5%; }

.grades {
  background-color: #f7f7f7;
  height: 94%;
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed; }
  .grades header {
    display: flex;
    padding: 15px 0 25px 0; }
    .grades header nav {
      margin-left: 2%; }
      .grades header nav a {
        text-decoration: none; }
    .grades header div {
      padding-left: 80%;
      text-align: right; }
  .grades .blueDivider {
    width: 70%;
    margin-left: 25%; }
  .grades .mainSection {
    width: 75%; }
    .grades .mainSection .cset {
      padding: 3% 0 5% 2%; }
      .grades .mainSection .cset h3 {
        color: #48a2ba; }
      .grades .mainSection .cset p {
        color: #202020;
        width: 100%; }
    .grades .mainSection .csetStatus {
      display: flex;
      line-height: 1.5;
      padding: 0 0 5% 2%; }
      .grades .mainSection .csetStatus .current {
        width: 33.3%; }
      .grades .mainSection .csetStatus .hours {
        width: 33.3%; }
      .grades .mainSection .csetStatus .standing {
        width: 33.3%; }
      .grades .mainSection .csetStatus h3 {
        color: #2e0a3a; }
      .grades .mainSection .csetStatus p {
        color: #202020; }
  .grades .gradeScroll {
    overflow-y: visible;
    overflow-x: hidden;
    height: 65%;
    width: 76%; }
    .grades .gradeScroll .enrolled {
      display: flex;
      justify-content: space-between;
      padding: 2% 0 0 1.5%; }
      .grades .gradeScroll .enrolled h2 {
        color: #48a2ba;
        line-height: 1.75; }
      .grades .gradeScroll .enrolled h3 {
        color: #2e0a3a;
        line-height: 1.75; }
      .grades .gradeScroll .enrolled p {
        color: #202020;
        line-height: 1.75; }
      .grades .gradeScroll .enrolled .whiteBox {
        background-color: #ffffff;
        height: 70px;
        width: 114px;
        margin-right: 10%; }
        .grades .gradeScroll .enrolled .whiteBox h4 {
          color: #4ca2b9;
          text-align: center;
          padding: 10% 0 5% 0; }
        .grades .gradeScroll .enrolled .whiteBox h5 {
          color: #33c7ba;
          text-align: center; }
    .grades .gradeScroll .flex {
      display: flex; }
      .grades .gradeScroll .flex .lgWhiteBox {
        display: flex;
        justify-content: space-around;
        background-color: #ffffff;
        padding: 2%;
        margin: 2% 0 5% 0;
        width: 50%; }
        .grades .gradeScroll .flex .lgWhiteBox .outterCircle {
          width: 160px;
          height: 160px;
          border-radius: 50%;
          background: linear-gradient(90deg, lightgrey, lightgrey 60%, #33c7ba 60%, #33c7ba 40%);
          border-image-slice: 1;
          text-align: center; }
          .grades .gradeScroll .flex .lgWhiteBox .outterCircle .innerCircle {
            background-color: #ffffff;
            border-radius: 50%;
            height: 47%;
            width: 45%;
            line-height: 1.5;
            padding: 20%;
            position: relative;
            top: 7%;
            left: 8%; }
            .grades .gradeScroll .flex .lgWhiteBox .outterCircle .innerCircle h2 {
              color: #48a2ba; }
            .grades .gradeScroll .flex .lgWhiteBox .outterCircle .innerCircle p {
              color: #4a4a4a; }
        .grades .gradeScroll .flex .lgWhiteBox .startFinish {
          margin-top: 10%; }
          .grades .gradeScroll .flex .lgWhiteBox .startFinish h2 {
            color: #48a2ba;
            padding-bottom: 5%; }
          .grades .gradeScroll .flex .lgWhiteBox .startFinish p {
            color: #4a4a4a;
            padding-bottom: 8%; }
      .grades .gradeScroll .flex .recentGrades {
        margin: 8% 0 1% 5%;
        width: 40%; }
        .grades .gradeScroll .flex .recentGrades h2 {
          color: #4ca2b9;
          padding-bottom: 4%; }
        .grades .gradeScroll .flex .recentGrades ul {
          column-count: 2;
          column-gap: 40px; }
          .grades .gradeScroll .flex .recentGrades ul li {
            color: #33c7ba;
            padding-bottom: 6%; }
  .grades .gradeScroll::-webkit-scrollbar-track {
    background-color: white; }
  .grades .gradeScroll::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5; }
  .grades .gradeScroll::-webkit-scrollbar-thumb {
    background-color: #38bfba; }

.academic {
  background-color: #f7f7f7;
  height: 94%;
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed; }
  .academic .blueDivider {
    margin-left: 25%;
    width: 70%; }
  .academic .mainSection .cset {
    margin-left: 2%;
    padding: 25px 0 25px 0;
    line-height: 1.5; }
    .academic .mainSection .cset h3 {
      color: #48a2ba; }
    .academic .mainSection .cset p {
      color: #202020; }
  .academic .mainSection .csetStatus {
    display: block;
    line-height: 1.5; }
    .academic .mainSection .csetStatus .current {
      display: inline-block;
      padding: 0 80px 30px 10px; }
    .academic .mainSection .csetStatus .hours {
      display: inline-block;
      padding-right: 80px; }
    .academic .mainSection .csetStatus .standing {
      display: inline-block; }
    .academic .mainSection .csetStatus h3 {
      color: #2e0a3a; }
    .academic .mainSection .csetStatus p {
      color: #202020; }
  .academic .flexed {
    display: flex;
    overflow-y: visible;
    overflow-x: hidden;
    height: 65%;
    width: 75%;
    padding-top: 2%; }
    .academic .flexed .flex1 {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 65%; }
      .academic .flexed .flex1 .academicGlance {
        color: #48a2ba;
        width: 90%;
        padding-bottom: 4%; }
      .academic .flexed .flex1 .miniBox {
        background-color: #ffffff;
        width: 40%;
        height: 275px;
        margin-bottom: 2%; }
        .academic .flexed .flex1 .miniBox h2 {
          color: #2e0a3a;
          text-align: center;
          padding-top: 10%;
          margin-bottom: 4%; }
        .academic .flexed .flex1 .miniBox p {
          color: #202020;
          text-align: center;
          margin-bottom: 4%; }
        .academic .flexed .flex1 .miniBox .outterCircle {
          width: 60%;
          height: 55%;
          border-radius: 50%;
          background: linear-gradient(90deg, lightgrey, lightgrey 60%, #33c7ba 60%, #33c7ba 40%);
          text-align: center;
          margin: 9% 0 0 20%; }
          .academic .flexed .flex1 .miniBox .outterCircle .innerCircle {
            background-color: #ffffff;
            border-radius: 50%;
            position: relative;
            top: 7.5%;
            left: 8%;
            height: 85%;
            width: 85%; }
            .academic .flexed .flex1 .miniBox .outterCircle .innerCircle p {
              font-weight: 600;
              line-height: 1.3;
              padding: 15% 5% 0 5%; }
            .academic .flexed .flex1 .miniBox .outterCircle .innerCircle h2 {
              color: #48a2ba; }
    .academic .flexed .flex2 {
      width: 25%; }
      .academic .flexed .flex2 h2 {
        color: #48a2ba;
        padding-bottom: 10%; }
      .academic .flexed .flex2 h3 {
        color: #59aac0;
        margin-bottom: 2%; }
      .academic .flexed .flex2 h4 {
        color: #2e0a3a;
        margin-bottom: 2%; }
      .academic .flexed .flex2 h5 {
        color: #48a2ba;
        margin: 6% 0 10% 0; }
      .academic .flexed .flex2 a {
        margin-bottom: 4%; }
      .academic .flexed .flex2 .view {
        text-decoration: none;
        margin-left: 20%;
        color: #2e0a3a; }
      .academic .flexed .flex2 .more {
        text-decoration: none;
        margin-left: 52%;
        color: #2e0a3a; }
      .academic .flexed .flex2 p {
        color: #202020;
        margin-bottom: 5%; }
  .academic .flexed::-webkit-scrollbar-track {
    background-color: white; }
  .academic .flexed::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5; }
  .academic .flexed::-webkit-scrollbar-thumb {
    background-color: #38bfba; }

/*# sourceMappingURL=style.css.map */
