.robo13 {
  font-family: 'Roboto Slab', serif;
  font-weight: regular;
  font-size: 13px;
  letter-spacing: 0.2px; }

.mont8, .calendarView p {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 8px;
  letter-spacing: 0.2px; }

.mont10R, .calendarView h5, .calendarView .calendarCourse, .logOut {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 10px;
  letter-spacing: 0.2px; }

.mont10B, .date, .viewAs, .grades .gradeScroll .enrolled .whiteBox h4, .grades .gradeScroll .flex .lgWhiteBox .startFinish h2, .grades .gradeScroll .flex .recentGrades h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.2px; }

.mont11 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.2px; }

.mont12L, .grades .gradeScroll .flex .lgWhiteBox .outterCircle .innerCircle p, .grades .gradeScroll .flex .lgWhiteBox .startFinish p, .grades .gradeScroll .flex .recentGrades ul li {
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  font-size: 12px;
  letter-spacing: 0.2px; }

.mont12B, .index .mainSection .cset h3, .index .mainSection .csetStatus h3, .index .scrolling h3, .index .scrolling h4, .index .scrolling h5, .currentProgram h3, .studentInfo h3, .schedule .currentProgram h3, .schedule .studentInfo h3, .listView h4, .calendarView h3, .grades .mainSection .cset h3, .grades .mainSection .csetStatus h3, .grades .gradeScroll .enrolled h2, .grades .gradeScroll .enrolled h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.2px; }

.mont13 {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 13px;
  letter-spacing: 0.2px; }

.mont14R {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 14px;
  letter-spacing: 0.2px; }

.mont14B {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px; }

.mont15, .index .mainSection .cset p, .index .mainSection .csetStatus p, .studentInfo p, .schedule .studentInfo p, .listView p, .grades .mainSection .cset p, .grades .mainSection .csetStatus p, .grades .gradeScroll .enrolled p {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 15px;
  letter-spacing: 0.2px; }

.mont30L, .grades .gradeScroll .flex .lgWhiteBox .outterCircle .innerCircle h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  font-size: 30px;
  letter-spacing: 0.2px; }

.mont30B, .grades .gradeScroll .enrolled .whiteBox h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.2px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.index {
  background-image: linear-gradient(126deg, #2fcfba, #47a1ba); }
  .index .white-background {
    margin: 30px;
    padding: 20px;
    width: 90%;
    height: 720px;
    background-color: #f7f7f7; }
  .index .login-white-box {
    width: 600px;
    height: 370px;
    background-color: #ffffff;
    margin: 150px auto; }
  .index .thaddeus-stevens-text {
    width: 888px;
    height: 40px;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: center;
    color: #202020;
    margin: 60px 0 0 -140px;
    position: absolute; }
  .index .student-portal {
    width: 888.1px;
    height: 69px;
    font-family: Montserrat;
    font-size: 21px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #3bb9ba;
    margin: 100px 0 0 -140px;
    position: absolute; }
  .index .email-box {
    width: 350px;
    height: 48px;
    background-color: #f7f7f7;
    border: solid 1px #3bb9ba;
    margin: 150px 0 0 130px;
    position: absolute; }
  .index .password-box {
    width: 350px;
    height: 48px;
    background-color: #f7f7f7;
    border: solid 1px #3bb9ba;
    margin: 210px 0 0 130px;
    position: absolute; }
  .index .submit-button {
    width: 150px;
    height: 48px;
    background-color: #3bb9ba;
    margin: 280px 0 0 150px;
    position: absolute; }
  .index .submit-button-text {
    width: 144.9px;
    height: 33px;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #f7f7f7;
    margin: 295px 0 0 150px;
    position: absolute; }
  .index .forgot-password {
    width: 144.9px;
    height: 33px;
    font-family: Montserrat;
    font-size: 12px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #3bb9ba;
    margin: 295px 0 0 310px;
    position: absolute; }

.index {
  background-color: #f7f7f7;
  height: 94%;
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed; }
  .index header {
    display: flex;
    padding: 30px 0 30px 0; }
    .index header nav {
      margin-left: 2%; }
      .index header nav a {
        text-decoration: none; }
    .index header div {
      padding-left: 80%;
      text-align: right; }
  .index .blueDivider {
    margin-left: 25%;
    width: 70%;
    z-index: 1; }
  .index .mainSection .cset {
    margin-left: 2%;
    padding: 25px 0 25px 0;
    line-height: 1.5; }
    .index .mainSection .cset h3 {
      color: #48a2ba; }
    .index .mainSection .cset p {
      color: #202020; }
  .index .mainSection .csetStatus {
    display: block;
    line-height: 1.5; }
    .index .mainSection .csetStatus .current {
      display: inline-block;
      padding: 0 80px 30px 10px; }
    .index .mainSection .csetStatus .hours {
      display: inline-block;
      padding-right: 80px; }
    .index .mainSection .csetStatus .standing {
      display: inline-block; }
    .index .mainSection .csetStatus h3 {
      color: #2e0a3a; }
    .index .mainSection .csetStatus p {
      color: #202020; }
  .index .scrolling {
    overflow-y: visible;
    overflow-x: hidden;
    height: 430px; }
    .index .scrolling h3 {
      color: #48a2ba; }
    .index .scrolling h4 {
      color: #59aac0; }
    .index .scrolling h5 {
      color: #59aac0; }
    .index .scrolling .mont15, .index .scrolling .mainSection .cset p, .index .mainSection .cset .scrolling p, .index .scrolling .mainSection .csetStatus p, .index .mainSection .csetStatus .scrolling p, .index .scrolling .studentInfo p, .studentInfo .index .scrolling p, .index .scrolling .listView p, .listView .index .scrolling p, .grades .mainSection .cset .index .scrolling p, .grades .mainSection .csetStatus .index .scrolling p, .index .scrolling .grades .gradeScroll .enrolled p, .grades .gradeScroll .enrolled .index .scrolling p {
      color: #202020; }
    .index .scrolling .robo13 {
      color: #373737;
      line-height: 1.5; }
    .index .scrolling .blueDivider {
      width: 93%;
      margin-left: 12px; }
    .index .scrolling .flex {
      display: flex;
      line-height: 1;
      padding: 0 0 3% 1%; }
      .index .scrolling .flex .leftFlex {
        width: 60%; }
      .index .scrolling .flex .rightFlex {
        width: 40%; }
      .index .scrolling .flex h3 {
        padding: 20px 0 20px 0; }
      .index .scrolling .flex h4 {
        padding-bottom: 3%; }
      .index .scrolling .flex h5 {
        padding: 3% 0 4% 0; }
      .index .scrolling .flex p {
        width: 90%;
        line-height: 1.5;
        padding-bottom: 1%; }
  .index .scrolling::-webkit-scrollbar-track {
    background-color: white; }
  .index .scrolling::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5; }
  .index .scrolling::-webkit-scrollbar-thumb {
    background-color: #38bfba; }

.courses {
  background-color: #f7f7f7;
  height: 94%;
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed; }
  .courses .blueDivider {
    margin: 1% 0 2% 24%; }
  .courses .mainSection {
    padding: 2%; }

.currentProgram {
  line-height: 1.5;
  margin-bottom: 5%; }
  .currentProgram h3 {
    color: #48a2ba; }

.studentInfo {
  display: inline-flex; }
  .studentInfo div {
    padding-right: 60px; }
  .studentInfo h3 {
    color: #2e0a3a; }

.mainContain {
  background-image: linear-gradient(126deg, #2fcfba, #47a1ba);
  height: 90%;
  width: 98%;
  margin: 2% 2% 2% 2%; }

.schedule .blueDivider {
  margin: 1% 0 2% 24%; }
.schedule .mainSection {
  padding: 2%; }
.schedule .currentProgram {
  line-height: 1.5;
  margin-bottom: 5%; }
  .schedule .currentProgram h3 {
    color: #48a2ba; }
.schedule .studentInfo {
  display: inline-flex; }
  .schedule .studentInfo div {
    padding-right: 60px; }
  .schedule .studentInfo h3 {
    color: #2e0a3a; }

.listView {
  margin-left: 26%; }
  .listView h3 {
    color: #48a2ba;
    margin-bottom: 2%; }
  .listView h4 {
    line-height: 2; }
  .listView p {
    margin-bottom: 2%; }

.calendarView h3 {
  color: #48a2ba;
  margin-bottom: 2%; }
.calendarView h5 {
  text-align: center; }
.calendarView p {
  text-align: center; }
.calendarView .calFlex {
  display: flex;
  height: 400px; }
.calendarView .calDay {
  width: 18%;
  margin-right: 1%;
  margin-bottom: -2%;
  background-color: rgba(47, 207, 186, 0.15); }
  .calendarView .calDay div {
    background-color: #1b3c50;
    color: #f7f7f7; }
  .calendarView .calDay h5 {
    margin: 15px; }
  .calendarView .calDay .classOne {
    height: 15%;
    margin-bottom: 70%; }
    .calendarView .calDay .classOne p {
      padding: 5%; }
  .calendarView .calDay .classOneW {
    height: 15%;
    margin-bottom: 82%; }
    .calendarView .calDay .classOneW p {
      padding: 5%; }
  .calendarView .calDay .classOneF {
    background-color: rgba(213, 251, 246, 0.15);
    height: 15%;
    margin-bottom: 70%; }
  .calendarView .calDay .classTwo {
    height: 40%; }
    .calendarView .calDay .classTwo p {
      padding-top: 30%;
      line-height: 2; }
    .calendarView .calDay .classTwo .calendarCourse {
      padding-top: 0; }
  .calendarView .calDay .classTwoW {
    height: 35%; }
    .calendarView .calDay .classTwoW p {
      padding-top: 20%; }
    .calendarView .calDay .classTwoW .calendarCourse {
      padding: 5%; }
  .calendarView .calDay .classTwoF {
    height: 40%; }
    .calendarView .calDay .classTwoF p {
      padding-top: 30%;
      line-height: 2; }
    .calendarView .calDay .classTwoF .calendarCourse {
      padding-top: 0; }

.hide {
  display: none; }

.date {
  margin-left: 90%;
  line-height: 2; }

.logOut {
  margin-left: 90%;
  line-height: 2;
  color: #48a2ba; }

.viewAs {
  display: flex;
  margin-left: 80%; }
  .viewAs h3 {
    margin-right: 5%; }
  .viewAs span {
    margin: 0 5% 0 5%; }

.grades {
  background-color: #f7f7f7;
  height: 94%;
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed; }
  .grades header {
    display: flex;
    padding: 15px 0 25px 0; }
    .grades header nav {
      margin-left: 2%; }
      .grades header nav a {
        text-decoration: none; }
    .grades header div {
      padding-left: 80%;
      text-align: right; }
  .grades .blueDivider {
    width: 70%;
    margin-left: 25%; }
  .grades .mainSection {
    width: 75%; }
    .grades .mainSection .cset {
      padding: 3% 0 5% 2%; }
      .grades .mainSection .cset h3 {
        color: #48a2ba; }
      .grades .mainSection .cset p {
        color: #202020;
        width: 100%; }
    .grades .mainSection .csetStatus {
      display: flex;
      line-height: 1.5;
      padding: 0 0 5% 2%; }
      .grades .mainSection .csetStatus .current {
        width: 33.3%; }
      .grades .mainSection .csetStatus .hours {
        width: 33.3%; }
      .grades .mainSection .csetStatus .standing {
        width: 33.3%; }
      .grades .mainSection .csetStatus h3 {
        color: #2e0a3a; }
      .grades .mainSection .csetStatus p {
        color: #202020; }
  .grades .gradeScroll {
    overflow-y: visible;
    overflow-x: hidden;
    height: 65%;
    width: 76%; }
    .grades .gradeScroll .enrolled {
      display: flex;
      justify-content: space-between;
      padding: 2% 0 0 1.5%; }
      .grades .gradeScroll .enrolled h2 {
        color: #48a2ba;
        line-height: 1.75; }
      .grades .gradeScroll .enrolled h3 {
        color: #2e0a3a;
        line-height: 1.75; }
      .grades .gradeScroll .enrolled p {
        color: #202020;
        line-height: 1.75; }
      .grades .gradeScroll .enrolled .whiteBox {
        background-color: #ffffff;
        height: 70px;
        width: 114px;
        margin-right: 10%; }
        .grades .gradeScroll .enrolled .whiteBox h4 {
          color: #4ca2b9;
          text-align: center;
          padding: 10% 0 5% 0; }
        .grades .gradeScroll .enrolled .whiteBox h5 {
          color: #33c7ba;
          text-align: center; }
    .grades .gradeScroll .flex {
      display: flex; }
      .grades .gradeScroll .flex .lgWhiteBox {
        display: flex;
        justify-content: space-around;
        background-color: #ffffff;
        padding: 2%;
        margin: 2% 0 5% 0;
        width: 50%; }
        .grades .gradeScroll .flex .lgWhiteBox .outterCircle {
          width: 160px;
          height: 160px;
          border-radius: 50%;
          background: linear-gradient(90deg, lightgrey, lightgrey 60%, #33c7ba 60%, #33c7ba 40%);
          border-image-slice: 1;
          text-align: center; }
          .grades .gradeScroll .flex .lgWhiteBox .outterCircle .innerCircle {
            background-color: #ffffff;
            border-radius: 50%;
            height: 47%;
            width: 45%;
            line-height: 1.5;
            padding: 20%;
            position: relative;
            top: 7%;
            left: 8%; }
            .grades .gradeScroll .flex .lgWhiteBox .outterCircle .innerCircle h2 {
              color: #48a2ba; }
            .grades .gradeScroll .flex .lgWhiteBox .outterCircle .innerCircle p {
              color: #4a4a4a; }
        .grades .gradeScroll .flex .lgWhiteBox .startFinish {
          margin-top: 10%; }
          .grades .gradeScroll .flex .lgWhiteBox .startFinish h2 {
            color: #48a2ba;
            padding-bottom: 5%; }
          .grades .gradeScroll .flex .lgWhiteBox .startFinish p {
            color: #4a4a4a;
            padding-bottom: 8%; }
      .grades .gradeScroll .flex .recentGrades {
        margin: 8% 0 1% 5%;
        width: 40%; }
        .grades .gradeScroll .flex .recentGrades h2 {
          color: #4ca2b9;
          padding-bottom: 4%; }
        .grades .gradeScroll .flex .recentGrades ul {
          column-count: 2;
          column-gap: 40px; }
          .grades .gradeScroll .flex .recentGrades ul li {
            color: #33c7ba;
            padding-bottom: 6%; }
  .grades .gradeScroll::-webkit-scrollbar-track {
    background-color: white; }
  .grades .gradeScroll::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5; }
  .grades .gradeScroll::-webkit-scrollbar-thumb {
    background-color: #38bfba; }

.blueDivider {
  background-color: #6291a9;
  width: 75%;
  padding: 1px;
  margin-left: 25%; }

.infoNav {
  background-color: #1b3c50;
  color: #f7f7f7;
  display: inline-block;
  float: left;
  height: 100%;
  margin-right: 1%;
  width: 23%; }
  .infoNav aside h1 {
    text-align: center;
    margin: 10% 2% 15% 0%; }
  .infoNav aside h2 {
    line-height: 3;
    text-align: left;
    margin-left: 10%; }
  .infoNav aside ul {
    text-align: center;
    line-height: 3;
    text-align: left;
    margin-left: 20%; }
    .infoNav aside ul li a {
      text-decoration: none;
      color: #f7f7f7; }

.mainSection {
  display: inline-block; }

.selfie {
  margin-left: 15%;
  margin-top: 20%;
  width: 150px;
  height: 150px;
  border-radius: 60%;
  border: solid 2px #50e3c2; }

.schedule {
  background-color: #f7f7f7;
  height: 94%;
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed; }

/*# sourceMappingURL=style.css.map */
