.robo13 {
  font-family: 'Roboto Slab', serif;
  font-weight: regular;
  font-size: 13px;
  letter-spacing: 0.2px; }

.mont8, .calendarView p {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 8px;
  letter-spacing: 0.2px; }

.mont10R, .calendarView h5, .calendarView .calendarCourse {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 10px;
  letter-spacing: 0.2px; }

.mont10B {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.2px; }

.mont11 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.2px; }

.mont12L {
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  font-size: 12px;
  letter-spacing: 0.2px; }

.mont12B, .listView h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.2px; }

.mont13 {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 13px;
  letter-spacing: 0.2px; }

.mont14R {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 14px;
  letter-spacing: 0.2px; }

.mont14B {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px; }

.mont15, .listView p {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  font-size: 15px;
  letter-spacing: 0.2px; }

.mont30L {
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  font-size: 30px;
  letter-spacing: 0.2px; }

.mont30B {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.2px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.index {
  background-image: linear-gradient(126deg, #2fcfba, #47a1ba);
  height: auto;
  width: auto;
  margin: 15px 15px 15px 15px; }
  .index .infoNav {
    position: fixed;
    float: left;
    width: 20%;
    height: 90%;
    background-color: #1b3c50;
    display: inline-block; }
  .index .mainSection {
    display: inline-block; }

.courses {
  background-image: linear-gradient(126deg, #2fcfba, #47a1ba); }

.schedule {
  background-image: linear-gradient(126deg, #2fcfba, #47a1ba); }

.listView h3 {
  color: #48a2ba; }

.grades {
  background-image: linear-gradient(126deg, #2fcfba, #47a1ba); }

.blueDivider {
  background-color: #6291a9;
  width: 80%;
  padding: 1px; }

.infoNav {
  background-color: #1b3c50;
  color: #f7f7f7;
  display: inline-block;
  float: left;
  height: 600px;
  margin-right: 1%; }

.currentSchedule {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
